@model IEnumerable<AddressBookApp.ViewModels.ContactListItemViewModel>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/custom/contact-list")
}

@section styles {
    @Styles.Render("~/styles/dataTables")
    @Styles.Render("~/styles/contact-list")
}

@{
    Html.RenderPartial("Partials/Common/_Confirmation");
}

<h2>Contact list</h2>

<p>   
    @Html.ActionLink("Create new contact", "Create", "Contacts", null,
    new
    {
        @class = "btn btn-success"      
    })
</p>
<table id="contacts-list" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>      
            <th></th>      
            <th></th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>                   
                    @Html.ActionLink("Edit", "Edit", new { @id = item.Id },
                   new
                   {
                       @class = "glyphicon glyphicon-edit"
                   })    

                    @Html.ActionLink("Delete", "Delete", new { @id = item.Id},
                    new
                    {
                        @class = "glyphicon glyphicon-trash",
                        data_toggle = "modal",
                        data_target = "#modal-container"
                    })                                            
                </td>
            </tr>
        }
    </tbody>   
</table>

