@model AddressBookApp.ViewModels.ContactFormViewModel

<div class="row margin-top-70">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Contact details</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                            </div>
                        </div>       
                        
                        @{
                            if (Model.Emails != null)
                            {
                                for (int i = 0; i < Model.Emails.Count; i++)
                                {
                                    @Html.HiddenFor(x => Model.Emails[i].Id);
                                    @Html.HiddenFor(x => Model.Emails[i].PersonId);
                                    @Html.HiddenFor(x => Model.Emails[i].Name);
                                }
                            }
                            if (Model.Addresses != null)
                            {
                                for (int i = 0; i < Model.Addresses.Count; i++)
                                {
                                    @Html.HiddenFor(x => Model.Addresses[i].Id);
                                    @Html.HiddenFor(x => Model.Addresses[i].PersonId);
                                    @Html.HiddenFor(x => Model.Addresses[i].Name);
                                }
                            }
                        }

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>